<h2>AULAS</h2>

<div>
  <input #um type="text" [(ngModel)]="title" /> <br />
  <input #dois type="text" [(ngModel)]="diaDaSemana" /><br />
  <input #tres type="text" [(ngModel)]="horario" /><br />
  <button
    (click)="
      classes.add(um.value, dois.value, tres.value);
      um.value = '';
      dois.value = '';
      tres.value = ''
    "
  >
    +
  </button>
</div>
<ul>
  <li *ngFor="let classe of classes.getList(); index as i">
    {{ classe.title }}
    <span (click)="classes.remove(i)" style="cursor: pointer">-</span>
  </li>
</ul>
